@font-face {
  font-family: "Behdad";
  font-style: normal;
  font-weight: 400;
  src: local("Behdad"), url("behdad/Behdad-Regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("behdad/Behdad-Regular.woff") format("woff"),
    /* Modern Browsers */ url("behdad/Behdad-Regular.ttf") format("truetype");
  /* Safari, Android, iOS */
}
